<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>

        {% if site.github.is_project_page %}
        <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>sous-titre</small></a></p>
        <p class="view"><a href="{{ site.baseurl }}/test-page">Base<small>Character, action roll, saves, advancement</small></a></p>
        <p class="view"><a href="{{ site.baseurl }}/test-page">Hirelings <small>sous-titre</small></a></p>
        <p class="view"><a href="{{ site.baseurl }}/test-page">Equipement <small>Inventory, durability, item list</small></a></p>
        <p class="view"><a href="{{ site.baseurl }}/test-page">Combat <small>Death Death Death</small></a></p>
        <p class="view"><a href="{{ site.baseurl }}/test-page">Health <small>Injuries, rest, diseases, poisons</small></a></p>
        <p class="view"><a href="{{ site.baseurl }}/test-page">Downtime <small> Activities</small></a></p>
        <p class="view"><a href="{{ site.baseurl }}/test-page">Exploration <small>Travel, encounters, rulings...</small></a></p>
        <p class="view"><a href="{{ site.baseurl }}/test-page">Bestiary <small> And creatures template</small></a></p>
        <p class="view"><a href="{{ site.baseurl }}/test-page">Magic <small>And spell list</small></a></p>
        <p class="view"><a href="{{ site.baseurl }}/test-page">Other <small>sous-titre</small></a></p>
        {% endif %}

        {% if site.github.is_user_page %}
        <p class="view"><a href="{{ site.github.owner_url }}">Page 1</a></p>
        <p class="view"><a href="{{ site.github.owner_url }}">Page 2</a></p>
        <p class="view"><a href="{{ site.github.owner_url }}">Page 3</a></p>
        <p class="view"><a href="{{ site.github.owner_url }}">Page 4</a></p>
        <p class="view"><a href="{{ site.github.owner_url }}">Page 5</a></p>
        {% endif %}


      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>xxx</p>
        {% endif %}
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
